.recommended-friends {
  margin-top: 25px 0;
  padding: 25px 0;
  border-top: 1px solid rgba(0, 0, 0, .3) ;
  border-bottom: 1px solid rgba(0, 0, 0, .3) ;
}

.recommended-friends__title {
  font-size: 14px;
  color: rgba(0, 0, 0, .5);
}

.recommended-friends span {
  margin: 60px 0;
  display: block;
  text-align: center;
  color: rgba(0, 0, 0, .5);
  font-size: 16px;

}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: .8;
  margin-top: 7px;
  margin-bottom: 8px;
}

.open-chat__header span {
  opacity: .6;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post__hashtags {
  opacity: .6;
}

.open-post__members {
  margin-top: 7px;
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 6px;
}

.open-post__members-count {
  opacity: .5;
  font-size: 14px;
}

.open-post__members .divider {
  width: 2px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 5px;
}

.open-post__members-status {
  color: #ffb0e0;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 100px;
  height: 100px;
  border-radius: 10px;

}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
}

.open-post__heart-count span {
  margin-left: 3px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(3);
  }
  100% {
    color: white;
  }
}

.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}